@charset "UTF-8";

.main_icon_size_300 {
	width: 3rem; 
	height: 3rem;
}
.main_icon_size_200 {
	width: 2rem; 
	height: 2rem;
}

.textAlignLeft {
	text-align: left;
}

.menu {
	overflow: hidden;
	position: fixed;
	top: 0;
}

.bpHead {
	/* border-style: solid; */
	border-width: 2px;
	border-color: red;
	width: 95.3%;
/* 	padding-bottom: 25px;
	border-bottom: 25px; */
}
.inputBorder {
	border-width: 2px;
	border-color: black;
}

.bpHeadFirstLine {
	background-color: white;
/* 	border-style: solid;
	border-width: 2px;
	border-color: green; */
	
}

.bpHeadSecondLine {
/* 	border-style: solid; 
	border-width: 2px;
	border-color: blue; */
}

.space {
	margin-top: 5rem;
	color: white;
}

.oneUnit {
	/* border-style: solid;
	border-width: 2px;
	border-color: green; */
}

.bpBody {
	border-style: solid;
	border-width: 5px;
	border-color: red; 
}

.bpFooter {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.header {
	background-color: yellow;
	/* width: 100%; */
	text-align: center;
	font-size: 1rem;
}

.body {
	background-color: white;
	/* width: 100%; */
	text-align: center;
	/* font-size: 1.3rem; */
	overflow: auto;
}

.firstItem {
	padding-top: 25%;
	/* margin-top: 3%; */
}

.copyright {
	font-size: 1rem;
	color: #ccc;
	
}

.r5 {
	width: 50%;
}

.r10 {
	width: 10%;
}

.r20 {
	width: 20%;
}

.r25 {
	width: 25%;
}

.r33 {
	width: 33%;
}

.r40 {
	width: 40%;
}

.r50 {
	width: 50%;
}

.r80 {
	width: 80%;
}

.r85 {
	width: 85%;
}

.r90 {
	width: 90%;
}

.r100 {
	font-size: 1rem;
	width: 100%;
}

.yellow {
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
}

.red {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}

.blue {
	border-style: solid;
	border-width: 2px;
	border-color: blue;
}

.grey {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

.brown {
	border-style: solid;
	border-width: 2px;
	border-color: brown;
}
.bgYellow {
	background-color: yellow;
}
#bgRed {
	background-color: red;
}
#bgGrey {
	background-color: lightGrey;
}
.bgAntiquewhite {
	background-color: antiquewhite;
}
.bgBlue {
	background-color: lightblue;
}
.bgGrey {
	background-color: lightGrey;
}
.bgWhite{
	background-color: white;
}
.bgGreen {
	background-color: #4CAF50; /* Green */
}
.bgLightGreen {
	background-color: lightGreen; /* Green */
}
.left {
	float: left;
}
.center {
	float: center;
}

.menubutton {
	/* border-top: 10%; */
	padding-top: 3%;
	padding-bottom: 3%; 
	/* 	background-color: white; */
	text-align: center;
	/* font-size: 1.5rem */
}

.centerBlock {
	margin-left: auto;
    margin-right: auto;
    width: 3em
}

    
    
.fontSize_100 {
	font-size: 1rem;
}

.fontSize_150 {
	font-size: 1.5rem;
}
.fontSize_200 {
	font-size: 2rem;
}
.fontSize_250 {
	font-size: 2.5rem;
}

.fontSize_300 {
	font-size: 3rem;
}

.textImportant {
	important;
}

.text_align_center{
	text-align: center;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	/* text-align: left; */
	outline: none;
	/* font-size: 15px; */
	transition: 0.4s;
	margin-bottom: 0.5em;
    padding: 0.5em;
}

.accordionSizeCreateNewEvent {
	background-color: #eee;
	color: #444;
/* 	cursor: pointer; */
	width: 100%;
	border: none;
	/* text-align: left; */
	outline: none;
	font-size: 15px;
/* 	transition: 0.4s; */
	margin-bottom: 0.5em;
    padding: 0.5em;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	/*   float: right; 
  align-content: center; */
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	/* padding: 0 18px; */
	padding-left: 0.5em;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.button {
	background-color: green;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.inputBox {
	border-style: solid;
	border-width: 1px;
	border-color: green; 
}


.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


nav select {
  display: none;
}

@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

::placeholder {
  color: red;
}